<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1>	 -->
	<h1>Locations</h1>
	<hr style="margin: 0 -15px">
</header>

<div id="wrapper">
	<section class="home-nav">
		<ul>
		<% @locations.each do |location| %>
			<li class="row"><%= link_to location.name, "/map/#{location.id}" %></li>
		<% end %>
		</ul>
	</section>
</div>