<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1>	 -->
	<h1>About</h1>
	<hr>	
</header>
<section class="row" style="padding-bottom: 20px;">
	<h3>Organizer:</h3>
	<p><%= @event_info.organizer %></p>
	<h3>When:</h3>From: <%= pretty_time(@event_info.start) %> on <%= pretty_date(@event_info.start) %>   <br>To: <%= pretty_time(@event_info.end) %> on <%= pretty_date(@event_info.end) %></p>
	<h3>About the Conference:</h3>
	<p><%= @event_info.description %></p>
	<hr style="border-top: none;">
</section>
