<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<img src="/assets/wizard.png" style="margin-bottom: -3px; width: 100%;">

<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1> -->
	<!-- <h1>Home</h1> -->

	<hr style="margin: 0 -15px">
</header>
<div id="wrapper">
	<section class="home-nav">
		<ul>
			<li class="row"><%= link_to "Schedule", schedule_path %></li>
			<li class="row"><%= link_to "About", about_path %></li>
			<li class="row"><%= link_to "Twitter", twitter_path %></li>
			<li class="row"><%= link_to "Map", map_path %></li>
			<li class="row"><%= link_to "News", news_path %></li>
			<% if APP["pages_on"] == true %>
				<% @pages.each do |page| %>
	  			<li class="row"><%= link_to page.pretty_title, "/#{page.title}" %></li>
				<% end %>
			<% end %>
		</ul>
	</section>
</div>