<%= content_tag "script", nil, { :type => "text/javascript", :src => "//platform.twitter.com/widgets.js" } %>
<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>


<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1>	 -->
	<h1>#wizcon</h1>
<!-- Here's the tweet button -->
	<%=content_tag "a", "Tweet", :class => "small button round secondary", :href =>"https://twitter.com/intent/tweet?hashtags=#{event_info.twitter_hashtag}"%>
<!-- END Tweet button -->

	<hr>

</header>

<section class="twitter row">
	<ul>
	<% Twitter.search("##{event_info.twitter_hashtag}", :count => 10, :result_type => "recent").results.map do |status| %>
	  <li>
	    <%= content_tag "strong", status.from_user %>: <%= status.text %>
			<br />
			<div style="padding: 20px 0;">
	    <%= content_tag "a", "Reply", :class => "small button round secondary mobile-one push-one-mobile", :href => "https://twitter.com/intent/tweet?in_reply_to=#{status.id}&hashtags=#{event_info.twitter_hashtag}" %>
	    <%= content_tag "a", "Retweet", :class => "small button round secondary mobile-one push-one-mobile", :href => "https://twitter.com/intent/retweet?tweet_id=#{status.id}" %>
	    <%= content_tag "a", "Favorite", :class => "small button round secondary mobile-one push-one-mobile end", :href => "https://twitter.com/intent/favorite?tweet_id=#{status.id}" %>
	    	</div>
	  </li>
	<% end %>
	</ul>
</section>

<!-- 

<p><a href="https://twitter.com/intent/tweet?in_reply_to=51113028241989632">Reply</a></p>
<p><a href="https://twitter.com/intent/retweet?tweet_id=51113028241989632">Retweet</a></p>
<p><a href="https://twitter.com/intent/favorite?tweet_id=51113028241989632">Favorite</a></p> -->