<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1> -->
	<h1>Schedule</h1>
	<hr>
</header>
<section class="schedule row" style="padding-bottom: 20px;">
	<% @schedule.each do |item| %>
		<div>
		    <h3><%= item.name %></h3>
		    <p><%= pretty_time(item.start) %> on <%= pretty_quick_date(item.start) %> —
		       <%= pretty_time(item.end) %> on <%= pretty_quick_date(item.end) %></p>

		    <p><%= item.info %></p>
		    <h4>Location:</h4>
		    <p><%=content_tag "a", "#{item.geolocation.name}", :class => "small button round secondary", :href =>"map/#{item.geolocation.id}"%></p>

		</div> 
	<% end %>
</section>