<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title><%= content_for?(:title) ? yield(:title) :  event_info.title || "QuickEvent" %></title>
  
	<!-- Included CSS Files -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTNt517NAlXasQH2iIh2qF1zZIV9Alo3s&sensor=true">
  </script>
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- dumps out all flash messages. START  -->
	<div id="flash"> 
	  <% flash.each do |flash_type, value| %>
	    <div class="subflash" id = "flash_<%=flash_type%>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>
  <!-- dumps out all flash messages. END  -->

  <%= yield %>

  <footer class="row">
  	<p>Copyright 2013 Quick Event App</p>
  </footer>
  
</body>
</html>